body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

.header-container .header-content {
  position: fixed;
  height: 3.75rem;
  width: 100%;
  background: #4f64fd;
  z-index: 10000; }
  .header-container .header-content p {
    margin: 1.25rem;
    color: #ffffff; }

.header-container .page-container {
  padding-top: 3.75rem; }

.homepage-container .homepage-feed-container {
  margin: 0.625rem auto 0rem auto;
  max-width: 60rem; }

.homepage-container .homepage-feed-card-container {
  margin: 0.625rem; }
